<h1>Edit Moderators.</h1>

<% if @moderator.errors.any? %>
  <h3>Following <%= pluralize(@moderator.errors.count, 'error') %> preventing to be updated.</h3>
  <% @moderator.errors.full_messages.each do |msg| %>
    <ul>
      <li>
        <%= msg %>
      </li>
    </ul>
  <% end %>
<% end %>


<%= form_for [:admin, @moderator] do |m| %>
  <%= label_tag(:fullname, "Full Name") %>
  <br>
  <%= m.text_field :fullname %>
  <br>
  <br>
  <%= label_tag(:username, "User Name") %>
  <br>
  <%= m.text_field :username %>
  <br>
  <br>
  <%= label_tag(:password, "Password") %>
  <br>
  <%= m.password_field :password %>
  <br>
  <br>
  <%= m.submit 'Update Moderator' %>
<% end %>

<%= link_to  "Back to admin page", admin_moderators_path %>